In [88]:
from os import chdir
from glob import glob
import pandas as pd
import glob

#bigdata = data1.append(data2, ignore_index=True)
#pd.concat([data1, data2], ignore_index=True, sort=False)



def mergeCSV(file_list):
    #df_merge=pd.DataFrame(["Sequence", "x", "y", "z",'label'])
    df_merge=pd.DataFrame()
    for file in file_list:
        df=pd.read_csv(file, header=None)
        print('file',df.shape)
        df_merge=pd.concat([df, df_merge],  ignore_index=True)
        print(df_merge.shape)
    print(df_merge.shape)
    print(df_merge.head(-100))
    
    return df_merge
    #df_merge.to_csv(file_out, index=False, encoding="utf-8")
    

file_list=[]

for filepath in glob.iglob(r'C:/Users/antonebert/Desktop/Sem 5 Programing/MADI/Activity Recognition from Single Chest-Mounted Accelerometer/*.csv'):
    file_list.append(filepath)

print(file_list)
df_merge=mergeCSV(file_list)

['C:/Users/antonebert/Desktop/Sem 5 Programing/MADI/Activity Recognition from Single Chest-Mounted Accelerometer\\1.csv', 'C:/Users/antonebert/Desktop/Sem 5 Programing/MADI/Activity Recognition from Single Chest-Mounted Accelerometer\\2.csv', 'C:/Users/antonebert/Desktop/Sem 5 Programing/MADI/Activity Recognition from Single Chest-Mounted Accelerometer\\3.csv', 'C:/Users/antonebert/Desktop/Sem 5 Programing/MADI/Activity Recognition from Single Chest-Mounted Accelerometer\\4.csv', 'C:/Users/antonebert/Desktop/Sem 5 Programing/MADI/Activity Recognition from Single Chest-Mounted Accelerometer\\5.csv', 'C:/Users/antonebert/Desktop/Sem 5 Programing/MADI/Activity Recognition from Single Chest-Mounted Accelerometer\\6.csv', 'C:/Users/antonebert/Desktop/Sem 5 Programing/MADI/Activity Recognition from Single Chest-Mounted Accelerometer\\7.csv']
file (162501, 5)
(162501, 5)
file (138001, 5)
(300502, 5)
file (102341, 5)
(402843, 5)
file (122201, 5)
(525044, 5)
file (160001, 5)
(685045, 5)
file (140901, 5)
(825946, 5)
file (163001, 5)
(988947, 5)
(988947, 5)
               0       1       2       3    4
0            0.0  1892.0  2279.0  1781.0  1.0
1            1.0  1895.0  2283.0  1785.0  1.0
2            2.0  1889.0  2279.0  1794.0  1.0
3            3.0  1892.0  2276.0  1794.0  1.0
4            4.0  1892.0  2280.0  1787.0  1.0
...          ...     ...     ...     ...  ...
988842  162000.0  1931.0  2384.0  2089.0  7.0
988843  162000.0  1929.0  2380.0  2084.0  7.0
988844  162000.0  1930.0  2387.0  2087.0  7.0
988845  162000.0  1934.0  2382.0  2083.0  7.0
988846  162000.0  1927.0  2385.0  2078.0  7.0

[988847 rows x 5 columns]

In [89]:
print(df_merge.shape)

(988947, 5)

In [18]:
df.head()

     0    2287    2948    2189    1
0  1.0  2249.0  2677.0  2046.0  1.0
1  2.0  2270.0  2568.0  2005.0  1.0
2  3.0  2222.0  2565.0  2003.0  1.0
3  4.0  2235.0  2571.0  2074.0  1.0
4  5.0  2205.0  2559.0  2075.0  1.0